body {
 background-image: url("https://media2.giphy.com/media/GEc92tvUVy0SI/giphy.gif?cid=3640f6095c12dad65a38386155a0dd32");
}
div {
  background-color: blue;
}
  
  #heading1{
    color:#1e90ff;
    font-size:50px;
  }
<img src=